<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />

    <title>v-for</title>
    <meta name="author" content="hainet" />

    <script src="../../js/vue/vue.js"></script>
  </head>

  <body>
    <h1>v-for</h1>

    <h2>v-for</h2>
    <ul id="v-for">
      <li v-for="item in items" v-bind:key="item.id">
        {{ item.message }}
      </li>
    </ul>
    <p>
      > vForVm.items.pop()<br />
      > vForVm.items.push({ message: 'Baz', id: 3 })<br />
      <br />
      // Valid operation<br />
      > Vue.set(vForVm.items, 0, { message: 'Hoge', id: 4 })<br />
      > vForVm.items.splice(1, 1, { message: 'Fuga', id: 5 })<br />
      <br />
      // Invalid operation<br />
      > vForVm.items[0].message<br />
      > vForVm.items[0] = { message: 'Piyo', id: 6}
    </p>

    <h2>index</h2>
    <ul id="index">
      <li v-for="(item, index) in items">
        index: {{ index }}, message: {{ item.message }}
      </li>
    </ul>
    <p>
      > indexVm.items.pop()<br />
      > indexVm.items.push({ message: 'Baz', id: 3 })
    </p>

    <h2>template</h2>
    <ul id="template">
      <template v-for="item in items">
        <li>This is divider</li>
        <li>{{ item.message }}</li>
      </template>
    </ul>
    <p>
      > templateVm.items.pop()
      > templateVm.items.push({ message: 'Baz', id: 3 } )
    </p>

    <h2>object</h2>
    <ul id="object">
      <li v-for="(value, key, index) in object">
        index: {{ index }}, key: {{ key }}, value: {{ value }}
      </li>
    </ul>
    <p>
      > objectVm.object.name = 'updated'
    </p>

    <h2>range</h2>
    <div id="range">
      <span v-for="n in range">{{ n }} </span>
    </div>
    <p>
      > rangeVm.range = 10
    </p>

    <h2>v-if + v-for</h2>
    <ul id="v-if-v-for">
      <li v-for="todo in todos" v-if="!todo.isCompleted" v-bind:key="todo.id">
        {{ todo.message }}
      </li>
    </ul>
    <p>
      > vIfVForVm.todos[0].isCompleted = true
    </p>

    <h2>filter / sort etc...</h2>
    <ul id="filter-sort-etc">
      <li v-for="n in oddNumbers">
        {{ n }}
      </li>
    </ul>
    <p>
      > filterSortEtcVm.numbers.push(6)<br />
      > filterSortEtcVm.numbers.push(7)
    </p>

    <script>
      var vForVm = new Vue({
          el: '#v-for',
          data: {
              items: [
                  { message: 'Foo', id: 1 },
                  { message: 'Bar', id: 2 }
              ]
          }
      })

      var indexVm = new Vue({
          el: '#index',
          data: {
              items: [
                  { message: 'Foo', id: 1 },
                  { message: 'Bar', id: 2 }
              ]
          }
      })

      var templateVm = new Vue({
          el: '#template',
          data: {
              items: [
                  { message: 'Foo', id: 1},
                  { message: 'Bar', id: 2}
              ]
          }
      })

      var objectVm = new Vue({
          el: '#object',
          data: {
              object: {
                  name: 'hainet',
                  age: 24
              }
          }
      })

      var rangeVm = new Vue({
          el: '#range',
          data: {
              range: 15
          }
      })

      var vIfVForVm = new Vue({
          el: '#v-if-v-for',
          data: {
              todos: [
                  { message: 'foo', isCompleted: false, id: 1 },
                  { message: 'bar', isCompleted: false, id: 2 },
                  { message: 'baz', isCompleted: false, id: 3 }
              ]
          }
      })

      var filterSortEtcVm = new Vue({
          el: '#filter-sort-etc',
          data: {
              numbers: [ 1, 2, 3, 4, 5 ]
          },
          computed: {
              oddNumbers: function () {
                  return this.numbers.filter(function (number) {
                      return number % 2 === 1
                  })
              }
          }
      })
    </script>
  </body>
</html>
