<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>Component</title>
    <meta name="author" content="hainet" />

    <script src="../../js/vue/vue.js"></script>
  </head>

  <body>
    <h1>Component</h1>

    <h2>Component</h2>
    <div id="component">
      <component></component>
    </div>

    <h2>v-bind component</h2>
    <div id="v-bind-component">
      <v-bind-component v-bind:item="message"></v-bind-component>
    </div>
    <p>
      > vBindComponentVm.message = 'updated'
    </p>

    <h2>Nested component</h2>
    <div id="nested-component">
      <nested-component v-bind:item="message"></nested-component>
    </div>
    <p>
      > nestedComponentVm.message = 'updated'
    </p>

    <h2>Local component</h2>
    <div id="local-component">
      <local-component></local-component>
    </div>

    <h2>Dynamic component</h2>
    <div id="dynamic-component">
      <keep-alive> <!-- 非活性になったコンポーネントをキャッシュ -->
        <component v-bind:is="currentComponent"></component>
      </keep-alive>
    </div>
    <p>
      > dynamicComponent.currentComponent = 'bar-component'<br />
      > dynamicComponent.currentComponent = 'baz-component'
    </p>

    <h2>is</h2>
    <div id="is">
      <table>
        <tr is="row"></tr>
        <tr is="row"></tr>
        <tr is="row"></tr>
      </table>
    </div>

    <script>
      Vue.component('component', {
          template: '<div>A custom component!</div>'
      })

      var componentVm = new Vue({
          el: '#component'
      })

      Vue.component('v-bind-component', {
          props: ['item'],
          template: '<div>{{ item }}</div>'
      })

      var vBindComponentVm = new Vue({
          el: '#v-bind-component',
          data: {
              message: 'A bound component!'
          }
      })

      Vue.component('nested-component', {
          props: ['item'],
          template: '<v-bind-component v-bind:item="item"></v-bind-component>'
      })

      var nestedComponentVm = new Vue({
          el: '#nested-component',
          data: {
              message: 'A nested component!'
          }
      })

      var LocalComponent = {
          template: '<div>A local component!</div>'
      }

      var localComponentVm = new Vue({
          el: '#local-component',
          components: {
              'local-component': LocalComponent
          }
      })

      Vue.component('row', {
          template: '<tr>component row</tr>'
      })

      var isVm = new Vue({
          el: '#is'
      })

      var dynamicComponent = new Vue({
          el: '#dynamic-component',
          data: {
              currentComponent: 'foo-component'
          },
          components: {
              'foo-component': {
                  template: '<div>Foo component!</div>'
              },
              'bar-component': {
                  template: '<div>Bar component!</div>'
              },
              'baz-component': {
                  template: '<div>Baz component!</div>'
              }
          }
      })
    </script>
  </body>
</html>
