<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>slot</title>
    <meta name="author" content="hainet" />

    <script src="../../js/vue/vue.js"></script>
  </head>

  <body>
    <h1>slot</h1>

    <h2>Single slot</h2>
    <div id="single-slot">
      <child-component>
        <p>This is some parent content!</p>
        <p>This is some more parent content!</p>
      </child-component>
    </div>

    <h2>Named slot</h2>
    <div id="named-slot">
      <container>
        <h3 slot="header">This is header!</h3>

        <p>This is some parent content!</p>
        <p>This is some more parent content!</p>

        <p slot="footer">This is footer!</p>
      </container>
    </div>

    <script>
        Vue.component('child-component', {
            template: '\
            <div>\
              <h2>I\'m the child title</h2>\
              <slot>\
                This will only be displayed if there is no content to be distributed!\
              </slot>\
            </div>\
          '
        })

        var singleSlotVm = new Vue({
            el: '#single-slot'
        })

        Vue.component('container', {
            template: '\
            <div>\
              <div>\
                <slot name="header"></slot>\
              </div>\
              <div>\
                <slot></slot>\
              </div>\
              <div>\
                <slot name="footer"></slot>\
              </div>\
            </div>\
          '
        })

        var namedSlotVm = new Vue({
            el: '#named-slot'
        })
    </script>
  </body>
</html>
