<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-model="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />

    <title>Directive</title>
    <meta name="author" content="hainet" />

    <script src="../../js/vue/vue.js"></script>
  </head>

  <body>
    <h1>Directive</h1>

    <div id="v-bind-id">
      <h2>v-bind:id</h2>
      <span v-bind:id="id">
        Change my id!
      </span>
    </div>
    <p>
      > vBindId.id = '2'<br />
      > document.getElementById('2')
    </p>

    <div id="v-bind-title">
      <h2>v-bind:title</h2>
      <span v-bind:title="message">
        Hover your mouse over me!
      </span>
    </div>
    <p>
      > vBindTitle.message = new Date()
    </p>

    <div id="v-bind-href">
      <h2>v-bind:href</h2>
      <a v-bind:href="url" target="_blank">Vue.js</a>
    </div>
    <p>
      > vBindHref.url = 'https://github.com/vuejs/vue'
    </p>

    <div id="v-bind-disabled">
      <h2>v-bind:disabled</h2>
      <input v-bind:disabled="disabled" />
    </div>
    <p>
      > vBindDisabled.disabled = true
    </p>

    <div id="v-once">
      <h2>v-once</h2>
      <span v-once>
        This {{ message }} will never change!
      </span>
    </div>
    <p>
      > vOnce.message = 'update'
    </p>

    <div id="v-if">
      <h2>v-if</h2>
      <span v-if="seen">Now you see me!</span>
    </div>
    <p>
      > vIf.seen = false
    </p>

    <div id="v-for">
      <h2>v-for</h2>
      <ol>
        <li v-for="skill in skills">
          {{ skill.name }}
        </li>
      </ol>
    </div>
    <p>
      > vFor.skills.push({ name: 'MVVM' })<br />
      > vFor.skills.pop()
    </p>

    <div id="v-on">
      <h2>v-on</h2>
      {{ message }}
      <button v-on:click.prevent="reverseMessage">Reverse Message</button>
    </div>
    <p>
      > vOn.message = 'updated'
    </p>

    <div id="v-model">
      <h2>v-model</h2>
      {{ message }}
      <input v-model:value="message" />
    </div>
    <p>> vModel.message = 'updated'</p>

    <div id="v-html">
      <h2>v-html</h2>
      <span v-html="rawHtml"></span>
    </div>

    <script src="../../js/sample/directive.js"></script>
  </body>
</html>