<!DOCTYPE html>
<html lang="ja-jp" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />

    <title>Vue.js-sample</title>
    <meta name="description" content="Vue.js-sample" />
    <meta name="author" content="hainet" />

    <!-- develop -->
    <script src="../../js/vue/vue.js"></script>
    <!-- production -->
    <!-- <script src="../js/vue.min.js"></script> -->
    <!-- CDN -->
    <!-- <script src="https://unpkg.com/vue"></script> -->
  </head>

  <body>
    <div id="app">
      {{ message }}
    </div>

    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>

    <div id="app-3">
      <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <div id="app-5">
      <span>{{ message }}</span>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app-6">
      <span>{{ message }}</span>
      <input v-model="message" />
    </div>
  </body>

  <script src="../../js/sample/vue-js-sample.js"></script>
</html>